# Lesson 1 Basics

## There are two types of cells:
- code 
- text

In [1]:
print("Hello, My name is ARCAP. I am a robot who has learned to predict the price of transporting goods. How can I help you?")

Hello, My name is ARCAP. I am a robot who has learned to predict the price of transporting goods. How can I help you?

In [2]:
Transport_Price = 1000

In [3]:
print(Transport_Price)

1000

In [4]:
Cargo_Type = "steel"

In [5]:
print(Cargo_Type)

steel

In [6]:
type(Transport_Price)

int

In [7]:
type(Cargo_Type)

str

In [8]:
ADR = True
print(ADR)
type(ADR)

True

bool

In [9]:
Transport_Prices = [1000, 500, 300, 700, 400]

print(Transport_Prices)
type(Transport_Prices)

[1000, 500, 300, 700, 400]

list

In [10]:
Transport_Prices[4]

400

In [11]:
Transport_Prices

[1000, 500, 300, 700, 400]

In [12]:
Transport_Prices[2:5] # we start with the third value (start_index = 2) and end with the fifth (which has index 4)

[300, 700, 400]

In [13]:
Copy_Transport_Prices = Transport_Prices
id(Copy_Transport_Prices), id(Transport_Prices)

(2315528194304, 2315528194304)

In [14]:
Copy_Transport_Prices[1] = 2000
Transport_Prices

[1000, 2000, 300, 700, 400]

In [15]:
Transport_Prices = [1000, 500, 300, 700, 400]
clone_Transport_Prices = Transport_Prices[:]
clone_Transport_Prices[0] = 5000

print(Transport_Prices)
id(Transport_Prices), id(clone_Transport_Prices[:])

[1000, 500, 300, 700, 400]

(2315528193664, 2315528380608)

In [16]:
Unpaid_Transport_Prices = [1000, 500, 300, 700, 400]
print(Unpaid_Transport_Prices)
Unpaid_Transport_Prices.append(2500)
print(Unpaid_Transport_Prices)

[1000, 500, 300, 700, 400]
[1000, 500, 300, 700, 400, 2500]

In [17]:
Transport_Prices = [1000, 500, 300, 700, 400]
print(Transport_Prices)
Transport_Prices.insert(2, 350)
print(Transport_Prices)

[1000, 500, 300, 700, 400]
[1000, 500, 350, 300, 700, 400]

In [18]:
January_Transport_Prices = [1000, 500, 300, 700, 400]
February_Transport_Prices = [1500, 300, 500, 3300, 750, 840.50]
March_Transport_Prices = [1000, 500, 300, 740.5, 940, 1040]
FirstQuarter_Transport_Prices = January_Transport_Prices + February_Transport_Prices + March_Transport_Prices
print(FirstQuarter_Transport_Prices)

[1000, 500, 300, 700, 400, 1500, 300, 500, 3300, 750, 840.5, 1000, 500, 300, 740.5, 940, 1040]