In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'Transport_Prices' : [1001, np.nan, 450, np.nan, 600,],
    'Kilometers' : [1003, 508, 552, 330, 650,],
    'Weight' : [20, 25, 3, 2, 1,],
    },)

In [2]:
df

   Transport_Prices  Kilometers  Weight
0            1001.0        1003      20
1               NaN         508      25
2             450.0         552       3
3               NaN         330       2
4             600.0         650       1

In [3]:
df.dropna()

   Transport_Prices  Kilometers  Weight
0            1001.0        1003      20
2             450.0         552       3
4             600.0         650       1