In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'Month' : [1,2,3,4,5,6,7,8,9,10,11,12,
              1,2,3,4,5,6,7,8,9,10,11,12,],
    'Year' : [2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,
             2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020],
    'Turnover in Thousands Euro' : [77,88,99,77,36,11,77,88,99,77,36,11,
                                   60,30,40,44,66,77,60,30,40,44,66,77,]
    },)

In [2]:
df.groupby(['Year', 'Month'])['Turnover in Thousands Euro'].agg([np.mean, np.median, np.min, np.max])

            mean  median  amin  amax
Year Month
2019 1        77      77    77    77
     2        88      88    88    88
     3        99      99    99    99
     4        77      77    77    77
     5        36      36    36    36
     6        11      11    11    11
     7        77      77    77    77
     8        88      88    88    88
     9        99      99    99    99
     10       77      77    77    77
     11       36      36    36    36
     12       11      11    11    11
2020 1        60      60    60    60
     2        30      30    30    30
     3        40      40    40    40
     4        44      44    44    44
     5        66      66    66    66
     6        77      77    77    77
     7        60      60    60    60
     8        30      30    30    30
     9        40      40    40    40
     10       44      44    44    44
     11       66      66    66    66
     12       77      77    77    77